.footer {
  margin-top: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    height: 40px;
  }

  .footer p {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;

  }